# Python
pycache/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Variables de entorno
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Temporales
*.bak
*.tmp

# Datos locales
gestor_tareas/Tareas_FECAM.csv
gestor_tareas/tareas.txt
gestor_tareas/gestor_tareas.txt
gestor_tareas/ambitos.txt
gestor_tareas/estados.txt
gestor_tareas/tecnicos.txt