{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Praktiko{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'praktiko/css/praktiko.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<div class="praktiko-page">

    <header class="praktiko-header">
        <div>
            <h1>{% block page_title %}Praktiko{% endblock %}</h1>
            <p>{% block page_subtitle %}Tu entrenador personal de idiomas.{% endblock %}</p>
        </div>

        <div class="praktiko-user">
            Usuario: <strong>{{ request.user.username }}</strong>
            ·
            <a href="{% url 'praktiko:logout' %}">Salir</a>
        </div>
    </header>

    <nav class="praktiko-actions">

    {% if messages %}
        <section class="praktiko-messages">
            {% for message in messages %}
                <div class="praktiko-message praktiko-message-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </section>
    {% endif %}

    {% if modo_juego %}

        <a href="{% url 'praktiko:home' %}" class="praktiko-btn">
            ← Volver al panel
        </a>

    {% else %}

        {% if request.user.is_superuser or request.user.groups.all %}
            <a href="{% url 'praktiko:gestion_usuarios' %}" class="praktiko-btn">
                Gestión
            </a>
        {% endif %}

        <a href="{% url 'praktiko:home' %}" class="praktiko-btn">Panel</a>

        <a href="{% url 'praktiko:listado_diccionarios' %}" class="praktiko-btn">
            Diccionarios
        </a>

        <a href="{% url 'praktiko:listado_temas' %}" class="praktiko-btn">
            Temas
        </a>

        <a href="{% url 'praktiko:listado_vocabulario' %}" class="praktiko-btn">
            Vocabulario
        </a>

        <a href="{% url 'praktiko:configurar_practica' %}"
           class="praktiko-btn praktiko-btn-main">
            Practicar
        </a>

        <a href="{% url 'praktiko:juego_configurar' %}" class="praktiko-btn">
            🎮 Jugar
        </a>
        <a href="{% url 'praktiko:listado_grupos' %}" class="praktiko-btn">
            👥 Grupos
        </a>
        <a href="{% url 'praktiko:mis_invitaciones' %}" class="praktiko-btn">
            📨 Invitaciones
        </a>
        <a href="{% url 'praktiko:importar_vocabulario' %}"
           class="praktiko-btn">
            📁 Importar vocabulario
        </a>

        <a href="{% url 'praktiko:mis_estadisticas' %}" class="praktiko-btn">
            Estadísticas
        </a>

    {% endif %}

</nav>

    {% block content %}
    {% endblock %}

</div>

</body>
</html>