{% extends "praktiko/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'praktiko/css/juego.css' %}">
{% endblock %}

{% block title %}
{% trans "Juego" %}
{% endblock %}

{% block page_title %}
🎮 {% trans "Juego de fichas" %}
{% endblock %}

{% block page_subtitle %}
{% trans "Modo experimental de aprendizaje mediante fichas." %}
{% endblock %}

{% block content %}

<section class="praktiko-section">

<div class="praktiko-card juego-intro">

    <form method="get"
      action="{% url 'praktiko:juego_tablero' %}">

        <div class="form-group">
            <label>{% trans "Diccionario" %}</label>

            <select name="diccionario" class="form-control">
                {% for diccionario in diccionarios %}
                    <option value="{{ diccionario.id }}">
                        {{ diccionario.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">

            <label>{% trans "Tema" %}</label>

            <select name="tema" class="form-control">

                <option value="">
                    🎲 {% trans "Todo el vocabulario del diccionario" %}
                </option>

                {% for tema in temas %}
                    <option value="{{ tema.id }}">
                        {{ tema.diccionario.icono }} {{ tema.diccionario.nombre }} - {{ tema.icono }} {{ tema.nombre }}
                    </option>
                {% endfor %}

            </select>

        </div>

        <div class="form-group">

            <label>{% trans "Número de fichas" %}</label>

            <div class="juego-opciones">

                <label>
                    <input type="radio" name="fichas" value="12" checked>
                    12
                </label>

                <label>
                    <input type="radio" name="fichas" value="25">
                    25
                </label>

                <label>
                    <input type="radio" name="fichas" value="36">
                    36
                </label>

            </div>

        </div>

        <button type="submit" class="praktiko-btn praktiko-btn-main">
            {% trans "Comenzar partida" %}
        </button>

    </form>

</div>

</section>

{% endblock %}